.intro {
    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        @media (min-width: 1366px) {
            width: 100%;
            height: auto;
        }
    }
}
.info {
    .info__block {
        background: var(--brown);
        color: var(--light);
        padding: 8px 12px;
        margin-bottom: 2px;
        .info__block__number {
            font-size: 23px;
            font-weight: 600;
        }
        .info__block__txt {
            font-size: 12px;
        }
        span {
            display: flex;
            justify-content: center;
            padding: 4px;
        }
    }
}
.content {
    .content__picture {
        picture {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .content__txt {
        background: var(--light);
        padding: 42px 22px;
        .content__txt__title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 12px;
            text-align: center;
        }

        .content__txt__description {
            font-size: 19px;
            margin-top: 26px;
        }
    }
    .map {
        margin: 20px;
        .map_txt {
            font-size: 20px;
            margin: 8px;
        }
    }
}
