@import url(./reset.css);
@import url(./main.min.css);
@import url(./footer.min.css);

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  --brown: #2e1901;
  --light: #eeece8;
}
h1 {
  display: none;
}

.burger-container {
  background-color: var(--light);
  position: absolute;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 4px;

  border: 1px solid #2e1901;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 2;

  .burger-line {
    width: 30px;
    height: 4px;
    background-color: var(--brown);
    margin: 3px 0;
    transition: transform 0.3s ease-in-out;

    &:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  &.open {
    .burger-line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .burger-line:nth-child(2) {
      opacity: 0;
    }

    .burger-line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: var(--light);
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;

  transition: transform 0.5s ease-in-out;
  z-index: 1;

  a {
    font-size: 33px;
    margin-bottom: 40px;
  }
}
